<h1>Авторизация</h1>

<ng-container>
  <p-floatLabel>
    <input pInputText id="userName" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" />
    <label for="username">Логин</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    <label for="password">Пароль</label>
  </p-floatLabel>
  <p-button id="authorizeButton" (onClick)="authorize()">Войти</p-button>

  <div class="askForRegisterBlock">
    Еще не зарегистрированы?
    <a routerLink="/register">Зарегистрироваться</a>
  </div>
</ng-container>
