<h1 *ngIf="!adminEdit">Регистрация</h1>

<ng-container>
  <p-floatLabel>
    <input pInputText id="userName" maxlength="100" [(ngModel)]="newUser.Login" [ngModelOptions]="{standalone: true}" />
    <label for="username">Логин</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="password" type="password" [(ngModel)]="newUser.Password" [ngModelOptions]="{standalone: true}" />
    <label for="password">Пароль</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="name" maxlength="100" [(ngModel)]="newUser.Name" [ngModelOptions]="{standalone: true}" />
    <label for="name">Имя</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="surname" maxlength="100" [(ngModel)]="newUser.Surname" [ngModelOptions]="{standalone: true}" />
    <label for="surname">Фамилия</label>
  </p-floatLabel>
  <p-floatLabel>
    <input pInputText id="email" type="email" maxlength="100" [(ngModel)]="newUser.Email" [ngModelOptions]="{standalone: true}" />
    <label for="email">Email</label>
  </p-floatLabel>
  <p-dropdown *ngIf="adminEdit"
              [options]="userTypes"
              [(ngModel)]="newUser.UserType"
              [checkmark]="true"
              optionLabel="enumStr"
              dataKey="enumVal" optionValue="enumVal"
              [showClear]="true"
              placeholder="Выберите тип пользователя" />

  <p-button id="registerButton" (onClick)="register()">Зарегистрироваться</p-button>
</ng-container>
